/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll-hidden::-webkit-scrollbar {
  /*display: none;*/
  scrollbar-width: thin;
}
//.scroll-hidden {
//  scrollbar-width: none;
//  scrollbar-color: rgb(74, 158, 31) transparent;
//  border-radius: 50px;
//  /*scrollbar-*/
//  /*background: #000;*/
//  overflow-y: scroll;
//}

li,p,a,h1,h2,input,label,textarea,span,td,tr,th,button {
  font-family: "Montserrat", serif;
}
